<body>
    <div class="container">
        <main class="main-flex row">
            <div class="landing-text col-9"> 
                <h1 class="negrita"> 
                    Lugares turísticos con paquetes en oferta para tu próximo viaje.
                </h1>
            </div>
                <!--tarjetas de productos-->
            <div class="cards container row">
                <div class="card col-xl-4 col-lg-4 col-md-6 col-sm-9" style="width: 18rem;">
                    <img src="./src/assets/bayahibe.jpg" class="card-img-top" alt="tarjetaBayahibe">
                    <div class="card-body">
                        <h5 class="card-title">Bayahibe, República Dominicana</h5>
                        <p class="card-text">Una hermosa bahía de aguas calmas.</p>
                    </div>
                </div>
                <div class="card col-xl-4 col-lg-4 col-md-6 col-sm-9" style="width: 18rem;">
                    <img src="./src/assets/chichen.jpg" class="card-img-top" alt="tarjetaChichen">
                    <div class="card-body">
                        <h5 class="card-title">Chichén Itzá, México</h5>
                        <p class="card-text">Un místico sitio para visitar.</p>
                    </div>
                </div>
                <div class="card col-xl-4 col-lg-4 col-md-6 col-sm-9" style="width: 18rem;">
                    <img src="./src/assets/cozumel.jpg" class="card-img-top" alt="tarjetaCozumel">
                    <div class="card-body">
                        <h5 class="card-title">Cozumel, México</h5>
                        <p class="card-text">Una isla paradisíaca para disfrutar en familia.</p>
                    </div>
                </div>
                <div class="card col-xl-4 col-lg-4 col-md-6 col-sm-9" style="width: 18rem;">
                    <img src="./src/assets/dallas.jpg" class="card-img-top" alt="tarjetaDallas">
                    <div class="card-body">
                        <h5 class="card-title">Dallas, Texas, U.S.A.</h5>
                        <p class="card-text">Modernidad, historia y diversión en un solo lugar.</p>
                    </div>
                </div>
                <div class="card col-xl-4 col-lg-4 col-md-6 col-sm-9" style="width: 18rem;">
                    <img src="./src/assets/panamacity.jpg" class="card-img-top" alt="tarjetaPanama">
                    <div class="card-body">
                        <h5 class="card-title">Ciudad de Panamá, Panamá</h5>
                        <p class="card-text">La ciudad de los casinos y las buenas playas.</p>
                    </div>
                </div>
                <div class="card col-xl-4 col-lg-4 col-md-6 col-sm-9" style="width: 18rem;">
                    <img src="./src/assets/southbeach.jpg" class="card-img-top" alt="tarjetaSouth">
                    <div class="card-body">
                        <h5 class="card-title">South Beach, Miami, U.S.A.</h5>
                        <p class="card-text">Una de las playas más top de USA!</p>
                    </div>
                </div>
            </div>
        </main>
        <div class="container">    
            <footer class="footer-flex row">
                <div class="col-9">
                    <p id= "textoFooterIndex"> contacto@tuviaje.com.ar      11-1111-1111            0800-123-4444</p>
                </div>
            </footer>
        </div>
    </div>
</body>
