<div class="btn-toolbar-vertical mb-3 row col-2" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group-vertical mr-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-secondary">México</button>
      <button type="button" class="btn btn-secondary">Dominicana</button>
      <button type="button" class="btn btn-secondary">USA</button>
      <button type="button" class="btn btn-secondary">Argentina</button>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">✈</div>
      </div>
      <input type="text" class="form-control" placeholder="Buscar destino" aria-label="Buscar destino" aria-describedby="btnGroupAddon">
    </div>
  </div>

